__pycache__/
build
src/ub_nssd.egg-info
.venv/

datasets/*
!datasets/README.md
!datasets/google_audioset/
datasets/google_audioset/audioset
!datasets/manually_annotated.json
!datasets/manual_data.csv
!datasets/all_data.csv
!datasets/foods_data.csv
# TODO: temporary
!datasets/to16bit.py 

meeting_notes/*

swallow_yamnet
