__pycache__/
build
src/ub_nssd.egg-info
.venv/

datasets/*
!datasets/README.md
!datasets/google_audioset/
datasets/google_audioset/audioset
!datasets/manually_annotated.json
!datasets/manual_data.csv
!datasets/all_data.csv
!datasets/foods_data.csv
# TODO: temporary
!datasets/to16bit.py 
!datasets/classes.csv

src/playground*.py

models
images
outputs

# scripts 
!datasets/get_eating_sound_data.py
!datasets/get_food_intake_dataset.py

# csv data
!datasets/manual_data.csv
!datasets/all_data.csv
!datasets/foods_data.csv
!datasets/food_intake_data.csv

meeting_notes/*

swallow_yamnet
